script(src="/js/jquery.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/jobs.js")
script(src="/js/primus.js")
script(src="/js/angular.min.js")
script(src="/js/client_config.js")
script(src="/js/app.js")

script(type="text/javascript").
	$(function(){$("#status a span").tooltip({placement: "bottom"})});