!!! 5
html(lang='en' ng-app="observatory")
	head
		title= title
		include partials/css
		link(rel="shortcut icon", type="image/x-icon", href="http://localhost:3000/images/favicon.ico")
	body!= body
		div.navbar.navbar-default.navbar-fixed-top
			div.container
				div.navbar-header
					button.navbar-toggle(data-toggle="collapse", data-target=".navbar-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") Observatory
					div#status.navbar-right(ng-controller="StatusCtrl")
						a.navbar-brand(href="#")
							span(data-original-title="{{ connectionStatusMessage }}", class="glyphicon {{ connectionStatus }}")
				div.navbar-collapse.collapse.navbar-left
					ul.nav.navbar-nav
						li
							a(href="/#/jobs") Jobs
		div#body.container(ng-view)
		include partials/js